@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --main-red: #F55A5A;
}


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
}

img {
  max-width: 100%;
}

/* HEADER */

header {
  background-color: var(--main-red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}