@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary: #F55A5A;
  --gray: #918E9B;
}


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #F5F5F5;
}

/* HEADER & MAIN */

header {
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

main {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* TRIP SECTION */

.trip {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.trip--img_container > img {
  height: 100%;
  min-width: 125px;
  border-radius: 5px;
  object-fit: cover;
}


.trip--info {
  font-size: 10px;
}

.trip--location_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.trip--location_container > p {
  text-transform: uppercase;
}

.trip--location_container > a {
  color: var(--gray);
}

.trip--content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.trip--content_title {
  font-size: 40px;
}

.trip--content_timeline {
  font-weight: bold;
}
